    
    ul {
    list-style-type: none;
}
    a {
    text-decoration: none;
    
}
    body {
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    color: #2E2F42;
    background-color: #ffffff;
    letter-spacing: -0.02em;
    }

    .page-header {
        color: #2E2F42;
        border: #E7E9FC;
        border-bottom: 1px;
        
    }

    .page-nav {
        color: #2E2F42;
       
    }

    .main-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #2E2F42;
        font-size: 18px;
        letter-spacing: -0.03em;
    }

    .text-logo {
        color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
    }

    .nav-list {
        font-weight: 500;
        font-size: 16px;
        
    }

    .nav-list-items {
        font-size: 16px;
    }

    .nav-link {
        color: #2E2F42;
    }

    .address-list {
        color: #2E2F42;
        font-weight: 400;
    }

    .address-list-items a{
        color: #2E2F42;
    }

    .section-hero {
        background-color: #2E2F42;
        height: 600px;
    }

    .section-hero button{
        background-color: #4D5AE5;
        padding: 16px 32px 16px 32px;
        border-radius: 4px;
        gap: 10px;
        border: none;
        box-shadow: 0, 4, 4, rgba(0, 0, 0, 0,15);
        color: #ffffff;
        font-weight: 500;
        letter-spacing: -0.04em;
    }

    .title-hero {font-weight: 700;
        font-size: 56px;
        color: #ffffff;
        }

    .section-feature {}

    .title-feature {
        display: none;
    }

    .feature-list {}

    .feature-item {
        line-height: 24px;
    }

    .feature-item-title {
        font-weight: 500;
        font-size: 20px;
    }

    .feature-item-description {}

    .section-team {}

    .title-team {}

    .team-list {}

    .team-items {}

    .team-items-image {}

    .team-items-title {}

    .team-items-role {}

    .section-portfolio {}

    .title-portfolio {}

    .portfolio-list {}

    .portfolio-items-image {}

    .portfolio-items-title {}

    .portfolio-items-area {}

    .page-footer {}

    .page-footer-text {}
    