    
    ul {
    list-style-type: none;
}
    a {
    text-decoration: none;
    
}
    body {
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    letter-spacing: -0.02em;
    }

    .page-header {
        color: #2E2F42;
        border: #E7E9FC;
        border-bottom: 1px;
        
    }

    .page-nav {
        color: #2E2F42;
        
    }

    .main-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #2E2F42;
        font-size: 18px;
        letter-spacing: -0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        
    }

    .text-logo {
        
        font-family: 'Raleway', sans-serif;
        letter-spacing: -0.03em;
        line-height: 1.17
    }

    .nav-list {
        font-weight: 500;
        font-size: 16px;
        
    }

    .nav-list-items {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .nav-link {
        color: #2E2F42;
        
    }

    .address-list {
        color: #434455;
        font-weight: 400;
        font-style: normal
    }

    
    .address-list-items a{
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .address-list-items:hover,
    .address-list-items:focus {
        color: #404bbf;
    }

    .section-hero {
        background-color: #2E2F42;
        height: 600px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;

    }

    .hero-button{
        background-color: #4D5AE5;
        padding: 16px 32px 16px 32px;
        border-radius: 4px;
        gap: 10px;
        border: none;
        box-shadow: 0, 4, 4, rgba(0, 0, 0, 0,15);
        color: #ffffff;
        font-weight: 500;
        letter-spacing: -0.04em;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }

    .title-hero {font-weight: 700;
        font-size: 56px;
        color: #ffffff;
        }
    
        .address-list-items:hover,
        .address-list-items:focus {
            color: #404bbf;
        }
    .section-feature {}

    .title-feature {
        display: none;
        letter-spacing: 0.02em;
    }

    .feature-list {}

    .feature-item {
        line-height: 24px;
    }

    .feature-item-title {
        font-weight: 500;
        font-size: 20px;
    }

    .feature-item-description {
        letter-spacing: 0.02em;
        color:#434455;
    }

    .section-team {
        background-color: #F4F4FD;
    }

    .title-team {
        font-size: 36px;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .team-list {}

    .team-items {
        background-color: #FFFFFF;
    }

    .team-items-image {}

    .team-items-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;

    }

    .team-items-role {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .section-portfolio {}

    .title-portfolio {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .portfolio-list {}

    .portfolio-items-image {}

    .portfolio-items-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .portfolio-items-area {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .page-footer {
        background-color: #2e2f42;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #2E2F42;
        font-size: 18px;
        letter-spacing: -0.03em;
        line-height: 1.17;
        text-transform: uppercase;
    }

    .page-footer-text {
        line-height: 1.5;
        color: #F4F4FD;
        letter-spacing: 0.02em;
    }
    